<ul class="nav navbar-nav navbar-right">
    <li><a asp-area="" asp-controller="Usuarios" asp-action="Insert">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Cadastrar</a></li>
    <li><a asp-area="" asp-controller="Usuarios" asp-action="Login">
            <span class="glyphicon glyphicon-user" aria-hidden="true"></span> Login</a></li>
</ul>